<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Just save it</title>
</head>
<body>
usage:<br>
http://just-save-it.appspot.com/json?=value1&param2=value2 ...<br>

<p>

<form method="post" action="/json">
    <label>
         app_id <input name="app_id" value=""/>
    </label>
    <br>

    <label>
         name <input name="param1" value=""/>
    </label>
    <br>

    <label>
         name <input name="param2" value=""/>
    </label>
    <br>

    <input type="submit">
</form>
</body>

</html>